.header {
    background-color: #000000;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo{
    width: 100px;
  }

  a{
    color: azure;
  }