body {
  text-align: center;
  background-image: url(assets/img/fondo5.png);
  margin: 0;
  object-fit: cover;
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-size: cover; /* Hace que la imagen cubra todo el fondo */
  background-position: center; /* Centra la imagen */
}

/* MovieBanner*/
div.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* MovieCard*/
.movie {
  cursor: pointer;
  transition: transform 0.2s; /*para que quede una transicion mas fluida*/
}
.movie:hover {
  transform: scale(1.1); /*es lo que hace que haga zoom*/
}
.movie:hover .overlay {
  /*vincula ambos eventos*/
  opacity: 1;
}
.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  color: white;
  transition: opacity 0.3s ease;
}
/* MovieNavbar*/
@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600");

.container {
  width: 80%;
  margin: 0 auto;
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
}
.logo {
  width: 4%;
  float: left;
}
.container {
  width: 100%;
  margin: 0 auto;
}

header {
  background: #3f0a0a;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 50px;
  padding-top: 23px;
  padding-bottom: 10px;

  position: relative;
}

nav a {
  color: #f16c6c;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: "";
  display: block;

  height: 5px;
  background-color: #e15050;

  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

/* RatingStar*/
.Star {
  color: white;
}

.Box {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.549);
}
