body {
  text-align: center;
  background-color: #281212;
}

/* MovieBanner*/
div.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*MovieCard*/
.movie {
  cursor: pointer;
  transition: transform 0.2s;

  font-weight: 100;
}

.movie:hover {
  transform: scale(1.1); /* Apply zoom effect */
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0; /* Make the overlay hidden initially */
  bottom: 0; /* Position the overlay at the bottom */
  left: 0; /* Align it to the left */
  width: 100%; /* Make the overlay take full width */
  height: 10%; /* You can adjust this to your preference (e.g., 25% of the card height) */
  font-size: 20px;
  padding: 10px;
  text-align: center;
  color: white;
  transition: opacity 0.3s ease;
}

.movie:hover .overlay {
  opacity: 1; /* Show the overlay on hover */
}

/* MovieNavbar*/

.logo {
  width: 4%;
  float: left;
}

.header {
  background: #3f0a0a;
}

.botonBuscar {
  color: #f16c6c;
  background-color: #3f0a0a;
  border-color: #281212;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 50px;
  padding-top: 23px;
  padding-bottom: 10px;

  position: relative;
}

nav a {
  color: #f16c6c;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: "";
  display: block;

  height: 5px;
  background-color: #e15050;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

/* RatingStar*/
.Star {
  color: white;
}

.Box {
  width: 100%;
  font-size: 20px;

  padding: 20px;
  text-align: center;
}
/*About Us y Contact*/

.container {
  margin: 0 auto;
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
}

.defaultBox {
  background-color: rgba(100, 91, 91, 0.5);
  margin: 7%;
  padding: 15%;
  border-radius: 10px;
}
/*Footer*/
.footer {
  background-color: #3f0a0a;
  padding: 10px 0;
  width: 100%;
  display: block;
}
/*Error404*/
.Error {
  background-image: url(assets/img/terrifying-hands-silhouettes-studio.jpg);
  background-position: center;
}
/*RecomendationsMovie*/

.despuesveo {
  display: flex;
  flex-direction: column;
}

.movie-content {
  flex: 1;
  display: flex;
  width: 80%;
  max-width: 150rem;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  background-color: #0000004b;
  color: #fff;
  margin-bottom: 11%;

  margin-top: 5%;
}

.movie-details {
  flex: 1;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5%;
}

.description {
  font-size: 16px;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.9);
}
img.img-responsive {
  max-width: 100%;
  height: auto;
  object-fit: contain; /* Or 'contain', depending on your design */
  border-radius: 10px; /* Optional for rounded corners */
}
