body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie {
  cursor: pointer;
  transition: all 0.1s linear;
}
.movie:hover {
  transform: scale(1.1);
}
